@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"); */

@theme {
  --color-primary: #ff6363;
  --color-secondary-100: #e2e2d5;
  --color-secondary-200: #888883;

  /* --font-nunito: "Nunito", "sans-serif"; */
}

.card {
  @apply bg-white rounded-2xl overflow-hidden shadow-md relative;
}
.tag{
  @apply  bg-primary text-white p-2 rounded-full font-semibold absolute top-0 left-0 m-3 flex align-middle gap-1;
}

.btn {
  @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider
}