@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"); */

@theme {
  --color-primary: #ff6363;
  --color-secondary-100: #e2e2d5;
  --color-secondary-200: #888883;

  /* --font-nunito: "Nunito", "sans-serif"; */
}
